<div class="row">
  <div class="col xs-12 center-block" style="max-width: 600px;">
    <div style="margin-left: 10px; margin-right: 10px;">
      <h2>GradeCalc Info</h2>
      <hr>
      <p style="font-size: 18px;">
        GradeCalc is a simple web app built on Angular and styled with Bootstrap that allows users to compute their final grade for a class. 
        It is my first Angular app and I did this primarily to help me get some practice with the basics of Angular before I create more intricate applications. 
        GradeCalc is open source and you can view the code here (hyperlink that). 
      </p>
    </div>
  </div>
</div>
