<html>
  <head>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid" style="background-color: #FFFFFF">
        <div class="navbar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" onclick="$('#navBar').collapse('toggle')">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
           </button>
          <a class="navbar-brand" href="#"><span style="color: #F2385A">Grade</span><span style="color: #3AA1BF">Calc</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navBar">
          <ul class="nav navbar-nav navbar-right">
            <li><a routerLink="/gradeCalc" routerLinkActive="active">Grades</a></li>
            <li><a routerLink="/info" routerLinkActive="active">Info</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
  </body>
</html>